In [13]:
1.# print 0 to 20 by using range
for x in range(0,20):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [11]:
2.# print range 10 to 20
for x in range(10,20):
    print(x)

10
11
12
13
14
15
16
17
18
19

In [11]:
3.# print number of items in the list by using ‘len’
num_of_list = [10,20,14,55,43,87,76]
length = len(num_of_list)
print (num_of_list)
print("Number of item in the List2:\n",length)

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
 7

In [17]:
print("Artificial Intelligence")
l ="Artificial Intelligence"

for i in range (len(l)):
    print(l[i])

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [25]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [34]:
#Tuples
print("(1,‘Welcome’ , 2,‘mars tech’)")

(1,‘Welcome’ , 2,‘mars tech’)

In [93]:
Tuple = (0,1,2,3),
print (Tuple,"('python’,‘mars tech'))")

((0, 1, 2, 3),) ('python’,‘mars tech'))

In [97]:
num_of_list = (20,10,16,19,25,1,276,188)
print(num_of_list)
for i in num_of_list:
    if i % 2 != 0:
        print(i,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [105]:
num_of_list = (20,10,16,19,25,1,276,188)
print(num_of_list)
for i in num_of_list:
    if i % 2==0:
        print(i,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even